<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>DeftTemplateGenerator</title>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="http://cdn.sencha.io/ext-4.2.0-beta/resources/css/ext-all.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/app.css" />

	<!-- ExtJS -->
	<script type="text/javascript" src="http://cdn.sencha.io/ext-4.2.0-beta/bootstrap.js"></script>

	<!-- 
	If you have a local copy of the full ExtJS source, you can use it to load framework classes individually. 
	Don't forget to modify app-loader.coffee or app-loader.js to add a loader path for the Ext source, e.g. "Ext": "/ext-4.2.0-beta/src".
	-->
	<!-- <script type="text/javascript" src="/ext-4.2.0-beta/ext-dev.js"></script> -->

	<!-- Define Loader, with path aliases, then load DeftJS, common library, and application bootstrap. -->
	<script type="text/javascript" src="app/app-loader.js"></script>
	<script type="text/javascript" src="lib/deft/deft-debug.js"></script>
	<script type="text/javascript" src="app/app.js"></script>

</head>
<body></body>
</html>